body{
	background-color: #D3D3D3;
}

.menu ul li{
	padding:10px;

}
.menu span {
	font-size: 30px;
	padding: 10px;
}

.menu ul > li > ul:hover{
	background-color:grey;
}

.menu ul ul ul > li:hover{
	background-color:grey;
}

.menu ul {
	position:relative;
	margin:0;
	padding:0;
	background-color:#C0C0C0;
}

.menu ul ul {
	display: none;
	position:absolute;
	background-color:grey;
}

.menu li:hover ul {
	display:block;
}

.menu li:hover li {
	display:block;

}

.menu {
	width: 120px;
	background-color: rgba(255,255,255,.5);
}

.menu, #menu-list, .menu-item {
	box-sizing: border-box;
}

#menu-list {
	display: none;
	position: relative;
}

#menu-list .menu-item {
	background-color: #fafafa;
	position: relative;
}

#menu-list .menu-item .submenu-list {
	position: absolute;
	left: 100%;
	top: 0;
}

.submenu-list > li {
	width: 120px;
}

.menu:hover > #menu-list {
	display: block;
}

.left, .right {
	width:100%;
}

.center{
	width:60%;
}

.flex-container {
      display: flex;
      justify-content: space-between;
    }

.flex-item-1 {
	  flex-direction: column;
      display: flex;
      justify-content: space-around;
    }

.flex-item-1, 
.flex-item-3{
	flex-grow: 2;
}

.flex-item-2{
	flex-grow: 6;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
	margin-top: 10vh
}

.left, .left a {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	background-color: #C0c0c0;
}

.left img {
	width: 210px;
	height: 170px;
    transition: .4s;
}

.left a {
	margin-top: 15px;
	margin-bottom: 15px;
}

.right, .right a{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #C0C0C0;
}

.right img{
	width: 80%;
	transition: .4s;
}

.middle{
	text-align: center;
	font-size: 18px;
	padding: 5%;
	background-color: #dcdcdc;
}

.middle .author{
	text-align: right;
}
.middle img{
	transition: .4s;
	width: 70px;
	height:70px;
	float:left; 
    margin: 7px 7px 7px 0;
}

.middle p{
	font-size: 130%;
}

.middle li{
	display: block;
}

@media print { 
	header, footer, a{ 
		display: none;
		height: 0;
		width: 0; 
	} 
	.main{
		margin-top: 0;
		grid-template-columns: 0fr 5fr 0fr;
	}
	.middle{
		text-align: center;
	}
}