@media print {
    body {
        background-color: purple;
    }
    
    header {
        display: none;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .footer {
        display: none !important;
    }

    .poemName {
        font-size: 28px !important;
    }

    .about-content {
        margin: 0;
        width: 100vw !important;
    }
    .fullName {
        width: 100vw !important;
    }

    .bottom-content {
        width: 70vw !important;
        display: flex;
        justify-content: center;
    }

    .list {
        width: 30vw;
    }

    .main .hr {
        visibility: hidden !important;
    }

    .meme {
        display: flex;
        align-items: center;
        height: 70vh;
    }

    .meme > img {
        height: 60vh;
    }

    #signature {
        width: 90vw !important;
        justify-content: flex-end;
    }
}